{
  "extends": [
    "eslint-config-airbnb",
    "prettier"
  ],

  "plugins": [
    "prettier"
  ],

  "env": {
    "browser": true
  },

  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "react/prefer-stateless-function": false
  },

  "parser": "babel-eslint",

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["frontend", "node_modules"]
          }
        }
      }
    }
  }
}
