{
  "config/webpack/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "frontend/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "frontend/**/*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "{app,config,db,lib,vendor}/**/*.rb": [
    "rubocop --auto-correct",
    "git add"
  ]
}
