{
  "config/webpack/**/*.{js,jsx,es6}": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "frontend/**/*.{js,jsx,es6}": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "frontend/**/*.{css,scss,sass}": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "{app,config,db,lib,vendor}/**/*.rb": [
    "rubocop --auto-correct",
    "git add"
  ]
}
